body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

header, footer {
    background:#0eabe9;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #1e3c72;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #16305a;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #222;
  color: white;

  text-align: center;
  padding: 10px;
}
